<div ng-controller="EditController">

    <a href="" ng-click="update()" ng-show="!editMode">Update</a>

    <div class="form-group" ng-show="editMode">
        <button type="button" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-default btn-danger" ng-click="update()">Cancel</button>
    </div>

    <div>
        <form class="form-horizontal" role="form">


            <div class="form-group">
                <label ng-show="!editMode">{{mileage}}</label>
                <input type="text" class="form-control" ng-show="editMode"
                       ng-model="mileage">
            </div>


        </form>
    </div>

</div>