<div class="well" ng-controller="LeftNavController">
    <a class="btn btn-lg btn-danger" href="#new">Compose</a>

    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li role="presentation"><a href="#/inbox"> Inbox</a></li>
        <li role="presentation"><a href="#/sent"> Sent</a></li>
        <li role="presentation"><a href="#/trash"> Trash</a></li>
    </ul>


    <div>
        <h1 class="page-header">My Folders</h1>

        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li role="presentation"><a href="#"> {{myFolder}}</a></li>
        </ul>
    </div>
</div>
